<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expenses</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li> <a href="{% url 'logout' %}">Logout</a> </li>
                <li> <a href="{% url 'create_receipt' %}">Create Receipt</a> </li>
                <li> <a href="{% url 'create_category' %}">Create Category</a> </li>
                <li> <a href="{% url 'create_account' %}">Create Account</a> </li>
                <li> <a href="{% url 'account_list' %}">My Accounts</a> </li>
                <li> <a href="{% url 'home' %}">My Receipts</a> </li>
                {% else %}
                <li> <a href="{% url 'login' %}">Login</a> </li>
                <li> <a href="{% url 'signup' %}">Sign Up</a> </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>